.iml
.class
**/*.iml
**/*.class
**/target/**
.idea
*.classpath
*.project
.settings/
.metadata
**/bin/**

photo
users
results.txt
sortedResults.txt
nohup.out
src/main/java/co/axelrod/mygirlfriends/telegram/token/TelegramTokenStorage.java
src/main/java/co/axelrod/mygirlfriends/vk/VKTokenStorage.java
open_nsfw/classify_dir.py